#myslider.carousel.slide(data-ride="carousel")
    ol.carousel-indicators
        li.active(data-target="#myslider", data-slide-to="0")
        li(data-target="#myslider", data-slide-to="1")
        li(data-target="#myslider", data-slide-to="2")
    
    .carousel-inner
        .carousel-item.active
            img.d-block.img-fluid(src="/img/1.png", alt="sgd")
        .carousel-item
            img.d-block.img-fluid(src="/img/2.png", alt="sgd")
        .carousel-item
            img.d-block.img-fluid(src="/img/3.png", alt="sgd")
    
    a.carousel-control-prev(href="#myslider", role="button", data-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Previous

    a.carousel-control-next(href="#myslider", role="button", data-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.sr-only Next
